@import './variables';

// Apply for screen <= 1280px
@media screen and (max-width: 80em) {
   $max-width: 1024px;
   $header-height: 68px;

   .row {
      --bs-gutter-x: 2rem;
   }

   .header {
      width: $max-width;
      height: $header-height;

      &__logo {
         width: 46px;
      }
   }

   .nav {
      &__menu {
         gap: 35px;
         margin-left: 35px;
         font-size: 1.4rem;
      }

      &__search {
         height: $header-height;
      }
   }

   .menu__item a {
      line-height: $header-height;
   }

   .sub-menu {
      top: $header-height;
   }

   .news {
      width: $max-width;
   }

   .article {
      margin-bottom: 48px;

      &__desc {
         font-size: 1.2rem;
      }

      &__title {
         font-size: 1.6rem;
      }
   }

   .btn-more-news {
      padding: 10px 21px;
   }

   .slider {
      padding: 48px 0 58px;
   }

   .slider-inner {
      width: $max-width;
   }

   .card-item {
      height: 634px;
   }

   .card__title {
      font-size: 1.4rem;
      margin-bottom: 14px;
   }

   .card__desc {
      font-size: 1.2rem;
   }

   .dot-group {
      margin-top: 50px;
   }
}

// Apply for screen <= 1050px
@media screen and (max-width: 65.625em) {
   $header-height: 66px;
   $max-width: 768px;

   .header {
      height: $header-height;
      width: $max-width;
   }

   .nav {
      position: absolute;
      top: $header-height;
      height: calc(100vh - $header-height);
      background-color: $black;
      width: inherit;
      max-width: inherit;
      flex-direction: column;
      align-items: flex-start;
      transform-origin: top;
      transform: scaleY(0);
      z-index: 1;
      transition: transform ease 0.3s;

      &--opening {
         transform: scaleY(100%);
      }

      &__menu {
         font-size: 2.5rem;
         flex-direction: column;
         gap: 0;
         width: 100%;
         margin-left: 0;
         padding-left: 32px;
         text-align: left;
      }

      &__icon-search {
         padding-left: 32px;
         margin-bottom: 32px;
      }

      &__search {
         display: none;
      }
   }

   .menu__item {
      width: 100%;
   }

   .menu__item a {
      line-height: 47px;

      display: flex;
      align-items: center;
   }

   .menu__item i {
      margin-left: 10px;
      display: inline-block;
   }

   .sub-menu {
      position: static;
      font-size: 1.8rem;
      // height: auto;
      padding-left: 0;
      flex-direction: column;
      gap: 0;

      a {
         width: 100%;
      }
   }

   .search--mobile {
      display: block;
   }

   .news {
      width: $max-width;
   }

   .btn-more-menu {
      display: block;
   }

   .slider-inner {
      width: $max-width;
   }

   .card-item {
      height: 555px;
   }

   .card-text {
      padding: 30px 24px;
   }
}

// Apply for screen <= 790px
@media screen and (max-width: 49.375em) {
   .news {
      width: 100%;
   }

   .btn-more-menu {
      padding: 12px 32px;
   }
}

// Apply for screen <= 47.9375 (bootstrap)
@media screen and (max-width: 47.9375em) {
   .container {
      max-width: 90%;
   }

   .header {
      width: 100%;
      max-width: 100%;
   }

   .card-item {
      height: auto;
      padding-bottom: 12px;
   }

   .card__title {
      font-size: 1.2em;
      text-align: center;
   }

   .card__desc {
      font-size: 1.6rem;
   }
}

// Apply for screen < 768px
@media screen and (max-width: 47.9375em) {
   .header {
      width: 100%;
      max-width: 100%;
   }

   .slide__card:last-child {
      display: none;
   }
}
