@import './variables';

// Apply for screen <= 1280px
@media screen and (max-width: 80em) {
   $max-width: 1024px;
   $header-height: 68px;

   .row {
      --bs-gutter-x: 2rem;
   }

   .header {
      width: $max-width;
      height: $header-height;
      &__logo {
         width: 46px;
      }
   }

   .nav {
      &__menu {
         gap: 35px;
         margin-left: 35px;
         font-size: 1.4rem;
      }

      .menu__item a {
         line-height: $header-height;
      }

      &__search {
         height: $header-height;
      }
   }

   .sub-menu {
      height: $header-height;
      top: $header-height;
   }

   .news {
      width: $max-width;
   }

   .article {
      margin-bottom: 48px;

      &__desc {
         font-size: 1.2rem;
      }

      &__title {
         font-size: 1.6rem;
      }
   }

   .more-news {
      .btn-more-news {
         padding: 10px 21px;
      }
   }

   .slider {
      padding: 48px 0 58px;
   }

   .slider-inner {
      width: $max-width;
   }

   .slide__card {
      .card-item {
         height: 634px;
      }
   }

   .card-text {
      .card__title {
         font-size: 1.4rem;
         margin-bottom: 14px;
      }

      .card__desc {
         font-size: 1.2rem;
      }
   }

   .dot-group {
      margin-top: 50px;
   }
}

// Apply for screen <= 1050px
@media screen and (max-width: 65.625em) {
   $header-height: 66px;
   $max-width: 768px;

   .header {
      height: $header-height;
      width: $max-width;
   }

   .nav {
      display: none;
      position: absolute;
      top: $header-height;
      height: calc(100vh - $header-height);
      background-color: $black;
      width: $max-width;
      flex-direction: column;
      align-items: flex-start;
      &__menu {
         font-size: 2.5rem;
         flex-direction: column;
         gap: 0;
         width: 100%;
         margin-left: 0;
         padding-left: 32px;
         text-align: left;
      }

      .menu__item {
         width: 100%;
      }

      .menu__item a {
         line-height: 47px;
      }

      &__icon-search {
         padding-left: 32px;
         margin-bottom: 32px;
      }

      &__search {
         display: none;
      }
   }

   .sub-menu {
      position: static;
      font-size: 1.8rem;
      height: 100%;
      padding-left: 0;
      flex-direction: column;
      gap: 0;

      a {
         width: 100%;
      }
   }

   .search--mobile {
      display: block;
   }

   .menu__item:hover .sub-menu {
      // display: none;
   }

   .news {
      width: $max-width;
   }

   .btn-more-menu {
      display: block;
   }

   .slider-inner {
      width: $max-width;
   }
}

// Apply for screen <= 790px
@media screen and (max-width: 49.375em) {
   .container {
      max-width: 90%;
   }

   .header {
      width: 100%;
      max-width: 100%;
   }

   .news {
      width: 100%;
   }

   .more-news {
      .btn-more-menu {
         padding: 12px 32px;
      }
   }

   .slider__action {
      display: none !important;
   }

   .slide__card:last-child {
      display: none;
   }
}
